{% if paginator.total_pages > 1 %}
<nav class="pager">
  <ul>
    {% if paginator.previous_page %}
    <li>
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">&laquo; Page précédente</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li>
      <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Page suivante &raquo;</a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endif %}