<article>
  <h1>
    <a href="{{ post.url }}">
      {{ post.title }} {% if post.sous_titre and post.sous_titre != '' %}
      <span class="soustitre"> - {{ post.sous_titre }}</span>
      {% endif %}
    </a>
  </h1>

  {% if post.date_document and post.date_document != '' %}
  <p class="date">Date du document : {{ post.date_document }}</p>
  {% endif %}

  <div class="commentaire">{{ post.content }}</div>

  {% if post.lulu %}
  <a href="{{post.lulu}}" target="_blank" class="acheter">
    <div class="acheter--conditions">Acheter au format PDF</div>
    <p class="acheter--prix">5 €</p>
  </a>
  {% endif %} {% for fichier in post.fichiers %} {% assign chemin = '/files/' %}
  {% if fichier contains '/' %} {% assign chemin = '/files' %} {% endif %} {% if
  fichier contains '.pdf' %}
  <div class="pdf">
    <a href="{{ chemin }}{{ fichier }}" target="_blank"
      >Télécharger le document</a
    >
  </div>
  {% endif %} {% if fichier contains '.jpg' %}
  <figure class="image">
    <img
      src="{{ chemin }}{{ fichier }}"
      alt="{{ post.title }}"
      loading="lazy"
    />
  </figure>
  {% endif %} {% if fichier contains '.flv' %}
  <div class="video">
    <object
      type="application/x-shockwave-flash"
      data="/assets/swf/player_flv_maxi.swf"
      width="500"
      height="400"
    >
      <param name="movie" value="/assets/swf/player_flv_maxi.swf" />
      <param
        name="FlashVars"
        value="flv={{ chemin }}{{ fichier }}&amp;autoload=1&amp;bgcolor1=000000&amp;bgcolor2=000000&amp;playercolor=000000&amp;buttonovercolor=993300&amp;loadingcolor=993300&amp;volume=200&amp;showvolume=1&amp;width=500&amp;height=400"
      />
      <param name="wmode" value="transparent" />
    </object>
  </div>
  {% endif %} {% if fichier contains '.mp4' %}
  <div class="video">
    <video controls disablepictureinpicture>
      <source src="{{ chemin }}{{ fichier }}" type="video/mp4" />
    </video>
  </div>
  {% endif %} {% if fichier contains '.mp3' %}
  <div class="audio">
    <audio src="{{ chemin }}{{ fichier }}" controls></audio>
  </div>
  {% endif %} {% endfor %}

  <p class="metas">
    {% if post.date %} Publié le {% assign jour = post.date | date: "%-d" %}{%
    case jour %}{% when '1' %}{{ jour }}er{% else %}{{ jour }}{% endcase %} {%
    assign mois = post.date | date: "%-m" %}{% case mois %}{% when '1'
    %}janvier{% when '2' %}février{% when '3' %}mars{% when '4' %}avril{% when
    '5' %}mai{% when '6' %}juin{% when '7' %}juillet{% when '8' %}août{% when
    '9' %}septembre{% when '10' %}octobre{% when '11' %}novembre{% when '12'
    %}décembre{% endcase %} {% assign annee = post.date | date: "%Y" %} {{ annee
    }} {% endif %} {% if post.tags %} dans {% for tag in post.tags %}
    <a href="/tags/{{ tag | slugify: 'latin' }}.html">{{ tag }}</a>
    {% endfor %} {% endif %}
  </p>
</article>
