---
---

@charset "UTF-8";

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ul,
ol {
  list-style-position: inside;
}
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Here we go */

* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: arial, helvetica, sans-serif;
  color: #222;
  font-size: 1rem;
  line-height: 1.5;
}

/* Titles */

h1,
.h1,
h2,
h3 {
  font-weight: bold;
}

h1,
.h1 {
  margin: 0 0 1.5rem 0;
  border-bottom: 0.0625rem solid #ccc;
  font-size: 2rem;
  line-height: 1.2;
}

h2 {
  margin-bottom: 1rem;
  font-size: 1.25;
}

/* Paragraphs, Lists, Blockquotes */

p,
ul,
blockquote {
  margin-bottom: 1rem;
}

ul {
  list-style: disc inside;
}

ul ul {
  margin-top: 0.5rem;
  margin-left: 1rem;
}

li {
  margin-bottom: 0.5rem;
}

dt {
  margin: 0.8rem 0 0 0;
  font-weight: bold;
}

blockquote {
  margin-left: 20%;
  padding: 1rem 2rem;
  background-color: #f9f9f9;
  font-size: 0.875rem;
}

/* Links */

a {
  color: #900;
}

a:focus,
a:hover {
  text-decoration: none;
}

h1 a {
  color: #222;
  text-decoration: none;
}

h1 a:focus,
h1 a:hover {
  text-decoration: underline;
}

/* Inlines */

strong,
.strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

/* Media */

img {
  max-width: 100%;
  height: auto;
}

/* Misc */

hr {
  height: 0.0625rem;
  margin-bottom: 2rem;
  background-color: #ccc;
  border: 0;
}

/* Layout */

@media (min-width: 50em) {
  body {
    display: flex;
    flex-direction: row-reverse;
    align-content: stretch;
  }

  .main-wrapper {
    flex-basis: 80%;
  }

  .main-header,
  .main-content {
    max-width: 45rem;
    margin-left: auto;
    margin-right: auto;
  }

  .main-aside {
    flex-basis: 20%;
  }
}

/* Header */

.main-header {
  margin-top: 1rem;
  margin-bottom: 4rem;
  padding: 0 1rem;
}

.main-header a {
  display: block;
}

.main-header a img {
  display: block;
  margin: 0 auto;
}

/* Content */

.main-content {
  padding: 0 1rem;
}

/* Prez */

#prez {
  margin: 0 0 1.5rem 0;
  border-bottom: 0.0625rem solid #ccc;
}

#prez p {
  color: #333;
}

/* Article */

article {
  margin-bottom: 4rem;
}

article h1 {
  margin-bottom: 0.25rem;
  border: 0;
}

.soustitre {
  font-size: 1.4rem;
}

.date {
  margin-bottom: 0.25rem;
  color: #767676;
}

.commentaire {
  margin: 1rem 0;
}

.image,
.video,
.audio {
  display: block;
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border: 0.0625rem solid #eee;
}

.image img {
  max-width: 100%;
}

.image img,
.video object,
.video video {
  display: block;
  margin: auto;
}

audio,
video {
  width: 100%;
}

.acheter {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-bottom: 0.0625rem solid #eee;
}

.pdf {
  margin-bottom: 0.5rem;
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  background: url(/assets/images/pdf.gif) 0.5rem 0.5rem no-repeat;
  border-bottom: 0.0625rem solid #eee;
}

.acheter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #eee;
  border-bottom: 0.0625rem solid #ddd;
  border-radius: 0.25rem;
  color: #000;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.5s ease;
}

.acheter--prix {
  margin: 0;
  font-size: 2rem;
}

.acheter--conditions {
  margin: 0;
}

.acheter:focus,
.acheter:hover {
  background-color: #ddd;
  border-bottom: 0.0625rem solid #ccc;
}

.acheter:focus .acheter--conditions,
.acheter:hover .acheter--conditions {
  text-decoration: underline;
}

.metas {
  padding: 0.5rem;
  color: #767676;
}

.metas a {
  color: #767676;
  text-decoration: underline;
}

.metas a:focus,
.metas a:hover {
  text-decoration: none;
}

.maj {
  color: #777;
}

.avant-propos {
  margin-top: -1rem;
  margin-bottom: 1rem;
  text-align: right;
}

.highlighter-rouge {
  padding: 0.25rem;
  background: #fee;
  border-bottom: 0.0625rem solid #f0e0e0;
}

/* Aside */

.main-aside {
  padding: 0.9rem 1.35rem 2.7rem 1.35rem;
  background-color: #f9f9f9;
  font-size: 0.9rem;
}

.main-aside h2 {
  margin-bottom: 0.9rem;
  padding-bottom: 0.22rem;
  border-bottom: 0.0625rem solid #ddd;
  font-size: 1.1rem;
}

.main-aside hr {
  margin: 0 0 0.9rem 0;
  background-color: #666;
}

.main-aside ul {
  list-style: none;
  margin-bottom: 1.35rem;
}

.main-aside li {
  margin-bottom: 0.22rem;
}

.main-aside a {
  display: block;
  text-decoration: none;
  color: #111;
}

.main-aside a:focus,
.main-aside a:hover {
  text-decoration: underline;
}

.marge {
  display: block;
  margin-left: 1.5rem;
}

/* Pager */

.pager {
  margin: 4rem 0;
  text-align: center;
}

.pager ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.pager a {
  display: block;
  padding: 0.25rem 0.5rem;
  background-color: #111;
  color: #fff;
  font-size: 0.9rem;
  text-decoration: none;
}

.pager a:focus,
.pager a:hover {
  text-decoration: underline;
}
