---
---
<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
  <title>{{page.title}} - Inventaire des archives Onuma Nemon</title>
  <meta charset="utf-8">
  <meta name="Robots" content="index,follow,all">
  <meta name="verify-v1" content="a7KgQUZyzQUhLU0Wg9lgjeXd8RCA6ft1w7Uf0Lsq3HY=">
  <link rel="alternate" type="application/rss+xml" title="Inventaire des archives Onuma Nemon" href="/rss.xml">
  <meta name="viewport" content="initial-scale=1.0, width=device-width">
  <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
  <div class="main-wrapper">
    <header class="main-header">
      <a href="/">
        <img src="/assets/images/onuma-nemon-signature.png" alt="Onuma Nemon" width="543" height="106">
      </a>
    </header>
    <main class="main-content">
      {{ content }}
    </main>
  </div>
  <aside class="main-aside">
    <h2>Navigation</h2>
    <ul>
      <li>
        <a href="/">Avant-propos</a>
      </li>
      <li class="strong">
        <a href="/inventaire">Inventaire</a>
      </li>
      <li>
        <a href="/tags/billet">Blog</a>
      </li>
      <li>
        <a href="/tags/edition">Éditions</a>
      </li>
      <li>
        <a href="/pages/bibliographie">Bibliographie</a>
      </li>
      <li>
        <a href="/tags/extension">Extensions</a>
      </li>
      <li>
        <a href="/pages/liens">Liens</a>
      </li>
    </ul>
    <h2>La Cosmologie</h2>
    <ul>
      <li>
        <a href="/tags/cosmologie-onuma-nemon">Cosmologie Onuma Nemon</a>
      </li>
      <li>Les continents
        <ul>
          <li>
            <a href="/tags/logres">LOGRES</a>
          </li>
          <li>
            <a href="/tags/ogr">OGR</a>
          </li>
          <li>
            <a href="/tags/or">OR</a>
          </li>
          <li>
            <a href="/tags/o">O</a>
          </li>
          <li>
            <a href="/tags/hsor">HSOR</a>
          </li>
          <li></li>
            <a href="/pages/oko-avant-propos">OKO</a>
          </li>
        </ul>
      </li>
    </ul>
    <h2>Autres domaines</h2>
    <ul>
      <li>
        <a href="/tags/dao">DAO</a>
      </li>
      <li>
        <a href="/tags/sabaki">Sabaki</a>
      </li>
    </ul>
    <h2>Medias</h2>
    <ul>
      <li>
        <a href="/tags/texte">Texte</a>
      </li>
      <li>
        <a href="/tags/calligraphie">Calligraphie</a>
      </li>
      <li>
        <a href="/tags/dessin-et-gravure">Dessin et gravure</a>
      </li>
      <li>
        <a href="/tags/peinture">Peinture</a>
      </li>
      <li>
        <a href="/tags/sculpture">Sculpture</a>
      </li>
      <li>
        <a href="/tags/photographie">Photographie</a>
      </li>
      <li>
        <a href="/tags/son">Son</a>
      </li>
      <li>
        <a href="/tags/video">Video</a>
      </li>
    </ul>
    <hr>
    <p><a href="mailto:memoriamortis@wanadoo.fr">Isabelle Revay</a></p>
    <p><a href="http://mettray-editions.com/">Mettray Éditions</a></p>
    <p><a title="ApolloNet, Développeur web freelance à Rouen" href="http://apollonet.fr" target="_blank">Développement Web : ApolloNet</a></p>
    <p>© Onuma Nemon - tous droits réservés.</p>
  </aside>
  <script defer src="/assets/js/google-analytics.js"></script>
</body>
</html>
