---
layout: default
---

<h1>{{ page.title }}</h1>

{% if page.avantPropos %}
  <p class="avant-propos"><a href="/pages/{{ page.avantPropos }}">Avant-propos</a></p>
{% endif %}

{% for post in site.tags[page.name] %}
  {% include post.html %}
{% endfor %}
